body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  h1, h2, h3, h5 {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
  }

.container{
  display: grid;
  grid-template-rows: 6fr 13fr 4fr;
  grid-template-areas: 
        "header"
        "container-body"
        "footer";
}

.header{
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-areas:
    "header-1 header-2";
  border: 1px solid red;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-picture{
  display: grid;
  grid-area: header-1;
  height: 450px;
  background-image: url(images/20230521_090627.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me{
  border: 1px solid yellow;border: 1px solid yellow;
  margin-top: 45px;
  margin-bottom: 45px;
}

.about-me-3{
  border: 1px solid green;
  margin-top: 10px;
  margin-bottom: 10px;
}
.body-tittle{
  border: 1px solid rgb(255, 0, 0);
  margin-left: 100px;
  margin-right: 100px;
}

.card-row-1{
  border: 1px solid rgb(255, 0, 200);
  grid-area: container-body;
  column-gap: 30px;
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: 100% / 3;
  grid-template-areas: "card1 card2 card3";
  
}

.card-1{
  border: 1px solid rgb(255, 247, 0);
  grid-area: card1;
}

div.card-top-1{
  display: flex;
  justify-content: center;
  background-color: #9e1c1c;
  padding: 50px
}

div.card-top-2{
  display: flex;
  justify-content: center;
  background-color: #7c75ca;
  padding: 50px
}

div.card-top-3{
  display: flex;
  justify-content: center;
  background-color: #5e8f4d;
  padding: 50px
}

div.project-title{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

div.description{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.card-2{
  border: 1px solid rgb(255, 123, 0);
  grid-area: card2;
}

.card-3{
  border: 1px solid rgb(34, 0, 255);
  grid-area: card3;
}