body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  h1, h2, h3, h5 {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
  }

.container{
  display: grid;
  grid-template-areas: 
        "header"
        "container-body"
        "footer";
}

.header{
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-areas:
    "header-1 header-2";
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-picture{
  display: grid;
  grid-area: header-1;
  height: 450px;
  background-color:#d88f39 ;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px  3px rgb(189, 182, 182);
}

.about-me{
  
  margin-top: 45px;
  margin-bottom: 45px;
  box-shadow: 1px 1px  3px rgb(189, 182, 182);
}

.about-me-3{
  display: flex;
  justify-content: flex-end;
  align-items: end;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 20px;
}

div.container-body{
  display: grid;
  grid-template-areas: "row1"
                       "row2"
                       "row3"
                       "row4";

}

.body-tittle{
  margin-left: 100px;
  margin-right: 100px;
  grid-area: row1;
  margin-bottom: 10px;
}


.card-row-1{
  grid-area: row2;
  column-gap: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 100% / 3;
  grid-template-areas: "card1 card2 card3"; 
}
.card-row-2{
  grid-area: row3;
  column-gap: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 100% / 3;
  grid-template-areas: "card4 card5 card6"; 
}


.card-row-3{
  grid-area: row4;
  column-gap: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 100% / 3;
  grid-template-areas: "card5 card6"; 
}



div.card-top-1{
  display: flex;
  justify-content: center;
  background-color: #9e1c1c;
  padding: 70px
}

div.card-top-2{
  display: flex;
  justify-content: center;
  background-color: #7c75ca;
  padding: 70px;
}

div.card-top-3{
  display: flex;
  justify-content: center;
  background-color: #5e8f4d;
  padding: 70px;
}

div.card-top-4{
  display: flex;
  justify-content: center;
  background-color: #c363b4;
  padding: 70px;
}

div.card-top-5{
  display: flex;
  justify-content: center;
  background-color: #d88f39;
  padding: 70px;
}

div.card-top-6{
  display: flex;
  justify-content: center;
  background-color: #4ba2d2;
  padding: 70px;
}

div.project-title{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  display: flex;
}

div.description{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
}

.card-1{
  grid-area: card1;
  box-shadow: 0 2px 3px 3px rgb(189, 182, 182);
}

.card-2{
  grid-area: card2;
  box-shadow: 0 3px 3px 3px rgb(189, 182, 182);
}

.card-3{
  grid-area: card3;
  box-shadow: 0 3px 3px 3px rgb(189, 182, 182);
}

.card-4{
  grid-area: card4;
  box-shadow: 0 3px 3px 3px rgb(189, 182, 182);
}

.card-5{
  grid-area: card5;
  box-shadow: 0 3px 3px 3px rgb(189, 182, 182);
}

.card-6{
  grid-area: card6;
  box-shadow: 0 3px 3px 3px rgb(189, 182, 182);
}

.footer{
  display: grid;
  background-color: #0891b2;
  grid-area: footer;
  grid-template-columns: 3fr 4fr;
  grid-template-areas:
    "contactMe picture";
  padding-top: 50px;
  padding-bottom: 100px;

}

.contact-me{
  grid-area: contactMe;
  display: grid;
  margin-left: 100px;
  margin-bottom: 80px;
  grid-template-areas: "contact-title"
                       "content1"
                       "content2"
                       "content3"
                       "content4"
                       "content5";

}

.contatct-title{
  grid-area: contact-title;
}



div.contact-me-picture{
  display: grid;
  grid-area: picture;
  height: 520px;
  width: 620px;
  background-image: url(images/20230521_090628.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-me-picture{
  grid-area: picture;
}


.content1{
  padding-bottom:0px ;
  grid-area: content1;
}


.content2{
  grid-area:content2;
}

.content3{
  grid-area:content3;
  display: flex;

}

.content4{
  grid-area:content4;
  display: flex;
}

.content5{
  grid-area:content5;
  display: flex;
}

.icon-phone{
  display: flex;
  align-self: center;
  width: 25px;
  height: 20px;
  background: url(/images/icons/phone.png) no-repeat;
  background-size: contain;
  margin-right: 8px;
}

.icon-email{
  display: flex;
  width: 25px;
  height: 20px;
  background: url(/images/icons/email-outline.png) no-repeat;
  background-size: contain;
  align-self: center;
  margin-right: 8px;
}

.icon-socialMedia1{
  display: flex;
  width: 35px;
  height: 35px;
  background: url(/images/icons/github.png) no-repeat;
  background-size: contain;
  align-self: center;
  margin-right: 8px;
}

.icon-socialMedia2{
  display: flex;
  width: 35px;
  height: 35px;
  background: url(/images/icons/linkedin.png) no-repeat;
  background-size: contain;
  align-self: center;
  margin-right: 8px;
}

.icon-socialmedia3{
  display: flex;
  width: 35px;
  height: 35px;
  background: url(/images/icons/twitter.png) no-repeat;
  background-size: contain;
  align-self: center;
  margin-right: 8px;
}




div.icon1{
  margin-left: 126px;
  width: 25px;
  background: url(/images/icons/github-custom.png);
}
div.icon2{
  margin-left: 11px;
  width: 25px;
  background: url(/images/icons/arrow-top-right-bold-box-outline-custom.png);
}

.myName{
  display: flex;
  justify-content: center;
  color: white;
  align-items: end;
  font-size: x-large;
}






@media screen and (max-width: 400px) {
  .header{
    display: block;
  }
  .card-row-1{
    display: block;
  }

  .card-1, .card-2, .card-4, .card-5{
    margin-bottom: 30px;
  }

  .card-row-2
  {
    display: block;
  }
  .card-row-3
  {
    display: block;
  }
  .footer{
    display: block;
  }
  .contact-me-picture{
    background-color: red;
    margin-right: 0px;
  }
}




@media screen and (min-width: 400px) {

  .container-body{
    display: grid;
    grid-template-areas: "row1"
                         "row2"
                         "row3"
                         "row4";
  }

  .body-tittle{
    margin-left: 100px;
    margin-right: 100px;
    grid-area: row1;
    margin-bottom: 10px;
  }

  .card-row-1{
    grid-area: row2;
    column-gap: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 100% / 2;
    grid-template-areas: "card1 card2"; 
  }

  .card-row-2{
    grid-area: row3;
    column-gap: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 100% / 2;
    grid-template-areas: "card3 card4"; 
  }
  
  
}


@media screen and (min-width: 768px) {

  .container-body{
    background-color: #5e8f4d;
  }

}




